<div class="aboutMe">
  <h3>About Me:</h3>
  <p>Prior to Prime, I had zero experience in coding. I come from an educational background in Political Science and International Relation and a work background in customer service and non-profit. Although I enjoyed my work and genuinely enjoyed helping people, I found myself always looking for a challenge but not finding one. One day a friend recommended looking into Computer Science and software development. I went on to code academy and learned HTML5 and CSS3. I enjoyed it but had no idea where to go next. She then told me to look into Prime Digital Academy. It is definitely
the best decision I’ve made.</p>
<br />
<p>My journey through Prime has allowed to me to utilize skills I’ve already had while also equipping me with the tools and skills I need to succeed as a software developer. While at Prime I’ve learned full stack development. I’ve learned new languages such as AngularJS, jQuery, JavaScript, Node.js, Express, MongoDB, and postgreSQL (and many more) and I have created web applications using these languages. </p>
</div>
