<div class="projects">
  <h2>Projects:</h2>
  <h4><li>Support’d (Solo Project)</li></h4>
    <p>
      The reason I’ve created Support’d is because I am someone who likes to help individuals in their moments when they’re sad, overwhelmed, or depressed, however I’m not great at asking for that same support when I need it most.
      As a solution I created a user based full-stack web application to help individuals, who have difficulty reaching out for help, reach out to their support systems in times of need.
      Users sign in, and are asked to scale how they feel 1-10 (10 being great and 1 being bad). And if the user is a 4 or below it will send a text (randomly) to one of two people whose information users enter during register.
      The web application also allows users to journal how they feel, so that users can use writing as an outlet.
      Support’d also allows users to view how they’ve been feeling (their progress) in a chart for a visual representation.
      Technologies used: MongoDB, Express.js, AngularJS, Node.js, Twilio, Bootstrap, ChartJS, SweetAlert, Passport Authentication.
    </p>
  <h4><li>St Croix Valley Regional Tourism Alliance</li></h4>
  <p>
    St Croix Valley Regional Tourism Alliance Interactive Map is a full-stack web application that complements the St Croix Valley Regional Tourism Alliance's existing website and print visitor guide. The map allows users to view featured places by category (Dining, Shopping, Nature, Lodging) or view suggested trips including driving directions from the user's current location.

Administrator privileges allow the staff at St Croix Valley Regional Tourism Alliance to add, edit or delete featured places on the map. Administrator can also add, edit or delete suggested trips with name, trip description and trip stops selected from featured places. Administrator can also add, edit or delete other administrators. This administrator functionality provides the Alliance to update information easily and more frequently; their print publication is produced once/year. The website does not offer a dynamic or interactive user experience in planning a trip.

This project was built over a three week period during our time at Prime Digital Academy.
  </p>


</div>
